StockClient/StockClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StockService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetStocks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStocks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStocks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStocksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStock" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStock_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStock" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateStock_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStock" />
  </wsdl:message>
  <wsdl:message name="IService1_updateStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStock_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStock" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetStocks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStocks" message="tns:IService1_GetStocks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStocksResponse" message="tns:IService1_GetStocks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStock" message="tns:IService1_GetStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStockResponse" message="tns:IService1_GetStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddStock" message="tns:IService1_AddStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddStockResponse" message="tns:IService1_AddStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateStock" message="tns:IService1_updateStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateStockResponse" message="tns:IService1_updateStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStock" message="tns:IService1_DeleteStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStockResponse" message="tns:IService1_DeleteStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStocks">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStocks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStock">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStock">
      <soap:operation soapAction="http://tempuri.org/IService1/AddStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStock">
      <soap:operation soapAction="http://tempuri.org/IService1/updateStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStock">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StockService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>