StockClient/StockClient/Connected Services/ServiceReference1/StockService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StockService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StockService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Stock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ceo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employees" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exchange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hq_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Listdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marketcap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stock" nillable="true" type="tns:Stock" />
</xs:schema>